<ion-grid class="ion-padding">
  <ion-row class="ion-md-container ion-padding">
    <ion-col size="12" sizeMd="12">
      <h4 class="ion-text-center bold">WHY ARENA IS BETTER</h4>
    </ion-col>
    <ion-col size="12" sizeSm="6" sizeMd="4">
      <div class="box-card">
        <img
          src="../../../../assets/icons/1.svg"
          alt="Graphic of Single Needle Lockstitch"
        />
        <h4 class="bold rainbow">Free Graphic Design</h4>
        <p>
          If your ideas aren’t embroidery ready or your images need optimizing,
          we can help for free.
        </p>
      </div>
    </ion-col>
    <ion-col size="12" sizeSm="6" sizeMd="4">
      <div class="box-card">
        <img src="../../../../assets/icons/2.svg" />
        <h4 class="bold rainbow">Free Local Delivery</h4>
        <p>
          If you live in or around Phoenix Arizona, delivery is free on all
          orders over $250.
        </p>
      </div>
    </ion-col>
    <ion-col size="12" offsetSm="3" sizeSm="6" offsetMd="0" sizeMd="4">
      <div class="box-card">
        <img
          src="../../../../assets/icons/3.svg"
          alt="Graphic of Programmable XY Lockstitch"
        />
        <h4 class="bold rainbow">Price Match Guarantee</h4>
        <p>
          If you can find a better quote elsewhere for the same embroidery
          order, we will match it.
        </p>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
